################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/farm_bot/env
/farm_bot/.env
/farm_bot/__pycache__

/farm_app/env
/farm_app/__pycache__
/farm_app/.flaskenv
/farm_app/app/__pycache__
farm_app/migrations/__pycache__/
farm_app/migrations/versions/__pycache__