################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
__pycache__/
*.py[cod]
env/
.env*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/farm_bot/.env
/farm_app/.flaskenv

.DS_Store
desktop.ini
